cli/
.vscode/
.github/
assets/
cli/
components/
content/
layouts/
locales/
middleware/
modules/
node_modules/
pages/
plugins/
proto/
resource/
static/
store/
test/
types/
!.nuxt

*.tgz

.babelrc
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.npmignore
.nuxtignore
.prettierrc
commitlint.config.js
stylelint.config.js
tsconfig.json
jest.config.js
