@import "./vars.less";
// 常用变量定义
:root {
  --anemo: #a3f3cb;
  --cryo: #72ebf1;
  --dendro: #b0e828;
  --electro: #dcbafc;
  --geo: #f3d25f;
  --hydro: #0ae3fc;
  --pyro: #ea630e;
  --anemo-gradient: #a3f3cb80;
  --cryo-gradient: #72ebf180;
  --dendro-gradient: #b0e82880;
  --electro-gradient: #dcbafc80;
  --geo-gradient: #f3d25f80;
  --hydro-gradient: #0ae3fc80;
  --pyro-gradient: #ea630e80;
}

.theme--light {
  --white: #fff;
  --black: #000;
  --text-grey: rgba(0, 0, 0, 0.7);
  --shadow: rgba(0, 0, 0, 0.23);
  --shadow-reverce: rgba(255, 255, 255, 0.23);
  --cover: rgba(255, 255, 255, 0.7);
}
.theme--dark {
  --white: #000;
  --black: #fff;
  --text-grey: rgba(255, 255, 255, 0.7);
  --shadow: rgba(255, 255, 255, 0.23);
  --shadow-reverce: rgba(0, 0, 0, 0.23);
  --cover: rgba(0, 0, 0, 0.7);
}

.nolink.nolink {
  color: unset;
  text-decoration: none;
}

.spin {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.skillimg .v-image__image--cover {
  background-size: 42px;
}
