// 元素颜色定义
@anemo: #a3f3cb;
@cryo: #72ebf1;
@dendro: #b0e828;
@electro: #dcbafc;
@geo: #f3d25f;
@hydro: #0ae3fc;
@pyro: #ea630e;

// 常用变量定义

.theme--light {
  --white: #fff;
  --black: #000;
  --shadow: rgba(0, 0, 0, 0.23);
}
.theme--dark {
  --white: #000;
  --black: #fff;
  --shadow: rgba(255, 255, 255, 0.23);
}
